@charset "UTF-8";
/* CSS Document */

html, body{
/*	display: inline;*/
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: darkorange;
}

[class*="box"]:before{
	width: 50px;
	height: 50px;
	background-color: plum;
}

.box1{
	position: absolute;
	left: 0;
	top: 0;	
}

.box2{
	position: absolute;
	right: 0;
	top: 0;	
}

.box3{
	position: absolute;
	left: 0;
	bottom: 0;	
}

.box4{
	position: absolute;
	right: 0;
	bottom: 0;	
}
