@charset "UTF-8";
/* CSS Document */

html, body{
/*	display: inline;*/
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: darkorange;
}

[class*="box"]{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: plum;
}

.box1{
	left: 0;
	top: 0;	
}

.box2{
	right: 0;
	top: 0;	
}

.box3{
	left: 0;
	bottom: 0;	
}

.box4{
	right: 0;
	bottom: 0;	
}

img{
	position: absolute;
}

.book1{
	width: 200px;
	height: 300px;
	left: 50px;
	top: 50px;	
}

.book2{
	width: 150px;
	height: 250px;
	left: 75px;
	top: 75px;	
}

.book3{
	width: 200px;
	height: 300px;
	left: 50px;
	bottom: 50px;
}

.text{
	font-size: 50px;
	position: absolute;
	/* left: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%); */
}