@charset "UTF-8";
/* CSS Document */

html, body{
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.circle1, .circle2{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: ghostwhite;
}

.circle3, .circle4{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.TEXT{
    height: 100px;
    margin-left: 10px;
}

[class*=text]{
    font-size: 30px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    margin-top: -5px;
}