@charset "UTF-8";
/* CSS Document */


*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

html, body{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html{
    background-color: ghostwhite;
	overflow:hidden;
}

body{
	background-color: ghostwhite;
	overflow:hidden;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	z-index: 5;
	position: absolute;
	top: 20px;
}

a{
	text-decoration: none;
}

.logo{
	display: flex;
	flex-direction: row;
	transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
	transform-origin: 50% 0%;
}

.circle1, .circle2{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: ghostwhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
}

.bar1, .bar2{
	position: relative;
	width: 16px;
	height: 10px;
}

.circle3, .circle4{
    position: relative;
	left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.TEXT{
    height: 100px;
    margin-left: 10px;
	color: black;
	font-size: 30px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

[class*=text]{
    margin-top: -5px;
}

.category, .mypage, .basket{
	z-index: 4;
	opacity: 1;
}

.category2, .mypage2, .basket2{
	z-index: -1;
	opacity: 0;
}

.category, .category2{
	position: absolute;
	color: black;
	background-color: rgba(248, 248, 255, 0.5);
	font-size: 15px;
	text-align: center;
	border: none;
	padding: 8px;
	padding-right: 16px;
	padding-left: 16px;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	cursor: pointer;
	transition: all 0.4s;
	border-radius: 50px;
}

.category{
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	left: 20px;
	top: 59px;
	z-index: 4;
}

.category2{
	width: 48px;
	left: 20px;
	top: 98.5px;
	z-index: -1;
	font-family: "fontello";
}

.mypage, .basket, .mypage2, .basket2{
	position: absolute;
	font-size: 15px;
	text-align: center;
	color: black;
	background-color: rgba(248, 248, 255, 0.5);
	border: none;
	padding: 8px;
	padding-right: 16px;
	padding-left: 16px;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	cursor: pointer;
	transition: all 0.4s;
	border-radius: 50px;
}

.mypage{
	right: 20px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.mypage2{
	top: 98.5px;
	right: 20px;
	font-family: "fontello";
}

.basket{
	right: 125px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.basket2{
	top: 60px;
	right: 20px;
	font-family: "fontello";
}

.mypage, .basket{
	top: 59px;
	z-index: 4;
}

.mypage2, .basket2{
	width: 48px;
	z-index: -1;
}

footer{
	z-index: 0;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

footer div{
	font-size: 10px;
}

.content{
	display: flex;
}

.content nav, .content aside{
	z-index: 3;
	display: flex;
	flex-direction: column;
	flex-basis: 150px;
	flex-shrink: 0;
	width: 400px;
}

.content nav{
	position: absolute;
	top: 0%;
	left: 0;
	height: 100vh;
	padding-left: 36px;
	padding-right: 36px;
	background: linear-gradient(to right, rgba(248, 248, 255), rgba(248, 248, 255, 0));
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transform: translateX(-100px);
}

.content aside{
	position: absolute;
	top: 0%;
	right: 0;
	height: 100vh;
	padding-right: 36px;
	padding-left: 36px;
	text-align: right;
	background: linear-gradient(to left, rgba(248, 248, 255), rgba(248, 248, 255, 0));
	transition: all 0.2s;
    -webkit-transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transform: translateX(100px);
}

.content nav ul, .content aside ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 13.5px;
	position: relative;
	top: 20%;
}

.nav{
	transform: translateX(-80px);
	opacity: 0;
	transition: all 0.6s;
    -webkit-transition: all 0.6s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    color: rgba(20, 20, 20);
}

.aside{
	transform: translateX(80px);
	opacity: 0;
	transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.CT{
	margin-bottom: 25px;
}

.nav a, .aside a{
	color: black;
}

[class*="list_nav"] .ct{
	margin-left: 10px;
}

.limited{
	font-size: 10px;
	color: ghostwhite;
	background-color: dodgerblue;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	top: -2px;
}

.ct{
	margin-top: 20px;
	font-weight: lighter;
	font-style: italic;
}

main{
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mainImg{
	position: fixed;
	left: 0;
	top: 0;
    width: 3660px;
	display: flex;
	flex-direction: column;
	flex-basis: 3660px;
	flex-shrink: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-left: -90px;
	/* filter: drop-shadow(-2.5px 5px 5px rgba(0, 0, 0, 0.3)); */
}

.mobilescreen{
	z-index: -10;
	width: 4010px;
	height: 1850px;
	margin-left: -90px;
	margin-top: -110px;
	transform: translate(-350px, -250px);
	display: hidden;
}

[class*=bookFrame]{
	display: inline-block;
	width: 120px;
	height: 180px;
	margin: 10px;
    background-color: rgba(248, 248, 255, 0);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

.bookScale{
    z-index: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    Height: 100%;
    transform: scale(2, 2);
    transition: transform 2s;
    -webkit-transition: transform 2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.mainbook{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 2s;
    -webkit-transition: transform 2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bookSample, .bookReview{
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    /* transition-delay: 2s; */
}

.bookReview{
    visibility: hidden;
}

.buttonbar{
    width: 500px;
    padding: 15px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cancelbutton, .nextbutton1, .nextbutton2{
    display: inline-block;
    border: none;
    width: 30px;
    height: 30px;
    background-color: black;
    cursor: pointer;
}

.nextbutton1{
    background-color: green;
}

.nextbutton2{
    background-color: skyblue;
}

.booksampleGroup, .bookreviewGroup{
    width: 500px;
    height: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.booksample, .bookreview{
    width: 250px;
    padding: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.booksample img{
    width: 30px;
    height: 40px;
}

.booksample a, .readertext{
    margin-left: 5px;
    color: black;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 12px;
}

.booksample a{
    cursor: pointer;
}

.profile{
    width: 40px;
    height: 40px;
    background-color: darksalmon;
}

.bookCover, .bookRact, .bookShadow{
    width: 250px;
    height: 350px;
    background-color: ghostwhite;
    border-radius: 0 2% 2% 0;
}

.bookGroup{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
    transition: transform 2s;
    -webkit-transition: transform 2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bookgroup{
    position: absolute;
    perspective: 1500px;
}

.bookRact, .bookShadow{
    transform-origin: left center;
    transition: transform 1s;
    -webkit-transition: transform 1s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bookRact1{
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
}

.bookRact2{
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

.bookRact3{
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
}

.bookRact4{
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}

.bookRact5{
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}

.bookRact6{
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

.bookRact7{
    transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
}

.bookRact8{
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
}

.bookRact9{
    transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
}

.bookRact10{
    transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
}

.bookMark, .bookMarkShadow{
    position: absolute;
    bottom: -60px;
    left: 10%;
    width: 40px;
    height: 60px;
    border-left: 20px solid rgba(0, 0, 0, 0.5); 
    border-right: 20px solid rgba(0, 0, 0, 0.5); 
    border-bottom: 20px solid transparent; 
}

.bookMarkShadow{
    left: 5%;
    transition: left 2s;
    -webkit-transition: left 2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.bookMark{
    border-left: 20px solid black; 
    border-right: 20px solid black; 
}

.mainShadow{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 350px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.bookShadow{
    background-color: rgba(0, 0, 0, 0.0687);
}

.bookCoverShadow{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: transform 2s, opacity 1s;
    -webkit-transition: transform 2s, opacity 1s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

[class*=package], .buy, .review, .booklist{
    position: fixed;
    display:inline-block;
    padding: 0;
    border: none;
    background-color: rgba(248, 248, 255, 0);
    font-family: Futura, Trebuchet MS, Arial, sans-serif; 
    font-size: 100px;
    color: ghostwhite;
    line-height: 120%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

[class*=package]{
    margin-right: -20%;
    margin-left: -20%;
    top: -5%;
    left: 0;
    height: 105%;
    font-size: 100px;
    text-align: center;
    color: transparent; 
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.package1{
    background: radial-gradient(at 0% 0%, rgba(245, 130, 0), rgba(245, 130, 0, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package2{
    background: radial-gradient(at 100% 0%, rgba(15, 15, 102), rgba(15, 15, 102, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package3{
    background: radial-gradient(at 0% 100%, rgba(40, 134, 245), rgba(40, 134, 245, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package4{
    background: radial-gradient(at 100% 100%, rgba(245, 215, 0), rgba(245, 215, 0, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.buyBackground, .booklistBackground, .reviewBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.buyBackground{
    background-color: plum;
}

.booklistBackground{
    background-color: sienna;
}

.reviewBackground{
    background-color: teal;
}

.buy{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: ghostwhite;
    -webkit-text-stroke: 2px black;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.buy:hover{
    color: black;
}

.booklist{
    bottom: 50%;
    left: 20px;
    transform: translateY(50%);
    text-align: left;
    cursor: pointer;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.booklist:hover{
    color: black;
}

.review{
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);
    text-align: right;
    cursor: pointer;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.review:hover{
    color: black;
}

.subShadow{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.subShd1{
    position: absolute;
    left: 0;
    transform: translate(10%, 50%);
}

.subShd2{
    position: absolute;
    right: 0;
    transform: translate(90%, 50%);
}

.booklistShadow, .reviewShadow{
    position: relative;
    display: inline-block;
    font-family: Futura, Trebuchet MS, Arial, sans-serif; 
    font-size: 100px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 120%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.booklistShadow{
    left: 20px;
    text-align: left;
}

.reviewShadow{
    right: 20px;
    text-align: right;
}

.gradientAll{
    isolation: isolate;
}

[class*=gradient]{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: saturation;
    -webkit-mix-blend-mode: saturation;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.gradient1{
    background-image: radial-gradient(rgba(25, 25, 112), rgba(25, 25, 112, 0)60%);
    background-size: 200% 200%;
    background-position: 0% 0%;
}

.gradient2{
    background-image: radial-gradient(rgba(255, 140, 0), rgba(255, 140, 0, 0)60%);
    background-size: 200% 200%;
    background-position: 100% 0%;
}

.gradient3{
    background-image: radial-gradient(rgba(255, 225, 0), rgba(255, 225, 0, 0)60%);
    background-size: 200% 200%;
    background-position: 0% 100%;
}

.gradient4{
    background-image: radial-gradient(rgba(40, 134, 245), rgba(40, 134, 245, 0)60%);
    background-size: 200% 200%;
    background-position: 100% 100%;
}

@media (max-width: 1400px){
    .buy, .review, .booklist, .booklistShadow, .reviewShadow{
        font-size: 7vw;
    }
}

@media (max-width: 700px){
	.logo{
		flex-direction: column;
	}

	.TEXT{
		margin-left: 0;
		margin-top: 10px;
		height: 36px;
	}

	[class*=text]{
		margin-top: 0;
	}

	.text1{
		font-size: 20px;
		margin-top: -5px;
		margin-bottom: -20px;
	}

	.text2, .text3{
		font-size: 16px;
		display: inline-block;
	}

	.CT{
		margin-bottom: 20px;
	}

	.ct{
		margin-top: 15px;
	}

	.category, .mypage, .basket{
		z-index: -1;
		opacity: 0;
	}

	.category2, .mypage2, .basket2{
		z-index: 4;
		opacity: 1;
	}

    .bookCover, .bookRact, .bookShadow, .bookGroup{
        width: 45vw;
        height: 32.5vh;
    }

    .mainShadow{
        width: 90vw;
        height: 32.5vh;
    }

    .cancelbutton, .nextbutton1, .nextbutton2{
        width: 2.5vh;
        height: 2.5vh;
    }

    .bookSample, .bookReview{
        width: 100%;
    }

    .buttonbar{
        padding: 1.2vh;
        padding-bottom: 0.6vh;
    }

    .booksampleGroup, .bookreviewGroup{
        width: 90vw;
        height: 30vh;
    }

    .booksample, .bookreview, .buttonbar{
        width: 45vw;
    }

    .booksample, .bookreview{
        padding: 1.2vh;
        padding-bottom: 0;
    }

    [class*=package]{
        font-size: 55px;
    }

    .buy, .review, .booklist, .booklistShadow, .reviewShadow{
        font-size: 8vw;
    }

    .buy{
        -webkit-text-stroke: 1.5px black;
    }

    .booklist{
        bottom: 20px;
        transform: translateY(0);
    }
    
    .review{
        bottom: 20px;
        transform: translateY(0);
    }

    .subShd1{
        bottom: 0;
        transform: translate(10%, 80%);
    }
    
    .subShd2{
        bottom: 0;
        transform: translate(90%, 80%);
    }

    .booklistShadow, .reviewShadow{
        color: rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 500px){
    .buy{
        -webkit-text-stroke: 1px black;
    }
}