@charset "UTF-8";
/* CSS Document */

html, body{
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html{
    background-color: ghostwhite;
	overflow:hidden;
}

body{
	background-color: ghostwhite;
	overflow:hidden;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	z-index: 5;
	position: absolute;
	top: 20px;
}

a{
	text-decoration: none;
}

.logo{
	display: flex;
	flex-direction: row;
	transform: scale(0.75, 0.75);
	transform-origin: 50% 0%;
}

.circle1, .circle2{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: ghostwhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* overflow: hidden; */
}

.bar1, .bar2{
	position: relative;
	width: 16px;
	height: 10px;
}

.circle3, .circle4{
    position: relative;
	left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.TEXT{
    height: 100px;
    margin-left: 10px;
	color: black;
	font-size: 30px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    transition: color 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

[class*=text]{
    margin-top: -5px;
}

.category, .mypage, .basket{
	z-index: 4;
	opacity: 1;
}

.category2, .mypage2, .basket2{
	z-index: -1;
	opacity: 0;
}

.category, .category2{
	position: absolute;
	color: black;
	background-color: rgba(248, 248, 255, 0.5);
	font-size: 15px;
	text-align: center;
	border: none;
	padding: 8px;
	padding-right: 16px;
	padding-left: 16px;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	cursor: pointer;
	transition: all 0.4s;
	border-radius: 50px;
}

.category{
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	left: 20px;
	top: 59px;
	z-index: 4;
}

.category2{
	width: 48px;
	left: 20px;
	top: 98.5px;
	z-index: -1;
	font-family: "fontello";
}

.mypage, .basket, .mypage2, .basket2{
	position: absolute;
	font-size: 15px;
	text-align: center;
	color: black;
	background-color: rgba(248, 248, 255, 0.5);
	border: none;
	padding: 8px;
	padding-right: 16px;
	padding-left: 16px;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	cursor: pointer;
	transition: all 0.4s;
	border-radius: 50px;
}

.mypage{
	right: 20px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.mypage2{
	top: 98.5px;
	right: 20px;
	font-family: "fontello";
}

.basket{
	right: 125px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.basket2{
	top: 60px;
	right: 20px;
	font-family: "fontello";
}

.mypage, .basket{
	top: 59px;
	z-index: 4;
}

.mypage2, .basket2{
	width: 48px;
	z-index: -1;
}

footer{
	z-index: 0;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

footer div{
	font-size: 10px;
}

.content{
	display: flex;
}

.content nav, .content aside{
	z-index: 3;
	display: flex;
	flex-direction: column;
	flex-basis: 150px;
	flex-shrink: 0;
	width: 400px;
}

.content nav{
	position: absolute;
	top: 0%;
	left: 0;
	height: 100vh;
	padding-left: 36px;
	padding-right: 36px;
	background: linear-gradient(to right, rgba(248, 248, 255), rgba(248, 248, 255, 0));
	transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transform: translateX(-100px);
}

.content aside{
	position: absolute;
	top: 0%;
	right: 0;
	height: 100vh;
	padding-right: 36px;
	padding-left: 36px;
	text-align: right;
	background: linear-gradient(to left, rgba(248, 248, 255), rgba(248, 248, 255, 0));
	transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transform: translateX(100px);
}

.content nav ul, .content aside ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-size: 13.5px;
	position: relative;
	top: 20%;
}

.nav{
	transform: translateX(-80px);
	opacity: 0;
	transition: all 0.6s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    color: rgba(20, 20, 20);
}

.aside{
	transform: translateX(80px);
	opacity: 0;
	transition: all 0.6s;
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.CT{
	margin-bottom: 25px;
}

.nav a, .aside a{
	color: black;
}

[class*="list_nav"] .ct{
	margin-left: 10px;
}

.limited{
	font-size: 10px;
	color: ghostwhite;
	background-color: dodgerblue;
	padding: 1px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	top: -2px;
}

.ct{
	margin-top: 20px;
	font-weight: lighter;
	font-style: italic;
}

main{
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mainImg{
	position: fixed;
	left: 0;
	top: 0;
    width: 3660px;
	display: flex;
	flex-direction: column;
	flex-basis: 3660px;
	flex-shrink: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-left: -90px;
	/* filter: drop-shadow(-2.5px 5px 5px rgba(0, 0, 0, 0.3)); */
}

.mobilescreen{
	z-index: -10;
	width: 4010px;
	height: 1850px;
	margin-left: -90px;
	margin-top: -110px;
	transform: translate(-350px, -250px);
	display: hidden;
}

[class*=bookFrame]{
	display: inline-block;
	width: 120px;
	height: 180px;
	margin: 10px;
    background-color: rgba(248, 248, 255, 0);
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

.bookRact{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 350px;
    background-color: ghostwhite;
    border-radius: 5px;
}

.bookShadow{
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* margin-left: -0.5%;
    margin-top: -0.5%; */
    width: 250px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

[class*=package], .buy, .review, .booklist{
    position: fixed;
    display:inline-block;
    padding: 0;
    border: none;
    background-color: rgba(248, 248, 255, 0);
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 55px;
    color: black;
}

[class*=package]{
    padding-left: 20px;
    padding-right: 20px;
    top: -3%;
    left: 0;
    /* width: 100%; */
    height: 103%;
    text-align: justify;
    color: transparent; 
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.package1{
    background: radial-gradient(at 0% 0%, rgba(245, 130, 0), rgba(245, 130, 0, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package2{
    background: radial-gradient(at 100% 0%, rgba(15, 15, 102), rgba(15, 15, 102, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package3{
    background: radial-gradient(at 0% 100%, rgba(40, 134, 245), rgba(40, 134, 245, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.package4{
    background: radial-gradient(at 100% 100%, rgba(245, 215, 0), rgba(245, 215, 0, 0)60%);
    background-clip: text;
    -webkit-background-clip: text;
}

.buy{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    cursor: pointer;
}

.review{
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    /* mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
    background-color: red; */
}

.booklist{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* .gradientBack{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    background: green;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
} */

/* .gradient3{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
    background: radial-gradient(at 50% 50%, rgba(255, 225, 0), rgba(255, 225, 0, 0)50%);
    margin-top: -100vh;
}

.gradient4{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
    background: radial-gradient(at 50% 50%, rgba(50, 144, 255), rgba(50, 144, 255, 0)50%);
    margin-top: -100vh;
    margin-left: -100vw;
} */

[class*=testRact]{
    position: fixed;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

.testRact1{
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: radial-gradient(at 50% 50%, rgba(255, 25, 112)50px, rgba(255, 25, 112, 0)50%);
}

.testRact2{
    top: 10%;
    left: 60%;
    transform: translate(-60%, -10%);
    width: 100px;
    height: 100px;
    background: rgba(255, 25, 112);
}

.testRact3{
    top: 50px;
    left: 0;
    width: 300px;
    height: 300px;
    background: radial-gradient(at 50% 50%, rgba(25, 255, 112)50px, rgba(25, 255, 112, 0)50%);
}

.testRact4{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(at 50% 50%, rgba(255, 140, 0), rgba(255, 140, 0, 0)50%);
    margin-top: -100vw;
    margin-left: -100vh;
}

.gradientAll{
    isolation: isolate;
}

[class*=gradient]{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vw;
    height: 200vh;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
}

/* .gradient1{
    background: radial-gradient(at 50% 50%, rgba(25, 25, 112), rgba(25, 25, 112, 0)50%);
}

.gradient2{
    background: radial-gradient(at 50% 50%, rgba(255, 140, 0), rgba(255, 140, 0, 0)50%);
    margin-left: -100vw;
}

.gradient3{
    background: radial-gradient(at 50% 50%, rgba(255, 225, 0), rgba(255, 225, 0, 0)50%);
    margin-top: -100vh;
} */

.gradient4{
    background: blue;
    opacity: 0.5;
    margin-top: -100vh;
    margin-left: -100vw;
}

@media (max-width: 700px){
	.logo{
		flex-direction: column;
	}

	.TEXT{
		margin-left: 0;
		margin-top: 10px;
		height: 36px;
	}

	[class*=text]{
		margin-top: 0;
	}

	.text1{
		font-size: 20px;
		margin-top: -5px;
		margin-bottom: -20px;
	}

	.text2, .text3{
		font-size: 16px;
		display: inline-block;
	}

	.CT{
		margin-bottom: 20px;
	}

	.ct{
		margin-top: 15px;
	}

	.category, .mypage, .basket{
		z-index: -1;
		opacity: 0;
	}

	.category2, .mypage2, .basket2{
		z-index: 4;
		opacity: 1;
	}
}