@charset "UTF-8";
/* CSS Document */

html, body{
/*	display: inline;*/
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	background-color: ghostwhite;
	overflow:hidden;
}

.container{
	display: flex;
	flex-direction: column;
}

header{
	z-index: 4;
	/* border-bottom: 1px solid black; */
}

a{
	text-decoration: none;
}

header a{
	display: inline-block;
	color: black;
	transition: color 0.4s;
}

header a:hover{
	color: seagreen;
}

.text1{
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: -10px;
}

.text2{
	font-size: 20px;
	margin-left: 20px;
	margin-top: 0;
}

footer{
	z-index: 0;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

footer div{
	font-size: 10px;
}

.content{
	display: flex;
}

.content nav, .content aside{
	z-index: 3;
	display: flex;
	flex-direction: column;
	flex-basis: 150px;
	flex-shrink: 0;
	padding-top: 40px;
	align-items: center;
}

.content nav{
	position: absolute;
	top: 40%;
	left: 20px;
	transform: translateY(-50%);
}

.content aside{
	position: absolute;
	top: 40%;
	right: 20px;
	text-align: right;
	transform: translateY(-50%);
}

.content nav ul, .content aside ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
	filter: blur(10px);
	transition: filter 0.4s;
}

.content nav ul a, .content aside ul a{
	display: inline-block;
	color: ghostwhite;
	/* background-color: rgb(112, 128, 144, 0.7); */
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 7.5px;
	padding: 7.5px;
	margin-bottom: 30px;
}

.content nav ul:hover{
	filter: blur(0px);
}

.content aside ul:hover{
	filter: blur(0px);
}

/* important point */
main{
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mainImg{
	position: fixed;
	left: 0;
	top: 0;
    width: 2900px;
    /* height: 500px; */
	display: flex;
	flex-direction: column;
	flex-basis: 2900px;
	flex-shrink: 0;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-left: -90px;
	margin-top: -110px;
	/* flex-wrap: wrap; */
}

[class*="main_img"]{
	
	
	/* display:flex; */
	/* flex-wrap: wrap; */
	
	/* margin: -100px; */
	/* transform: translate(-16.7%, -16.7%); */
}

main img{
	margin: 10px;
	width: 125px;
	height: 200px;
}

/* [class*="frame"]{
	z-index: 2;
}

.frame_top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(to bottom, rgba(248, 248, 255) 10%, rgba(248, 248, 255, 0));
}

.frame_left{
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background: linear-gradient(to right, rgba(248, 248, 255) 10%, rgba(248, 248, 255, 0));
}

.frame_right{
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	background: linear-gradient(to left, rgba(248, 248, 255) 10%, rgba(248, 248, 255, 0));
}

.frame_bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(to top, rgba(248, 248, 255) 10%, rgba(248, 248, 255, 0));
} */